account:
  - 1-* id->account_flags:p_accid
  - 1-* id->account_rewards:account_id
  - 1-* id->sharedbank:acctid
  - 1-* id->bug_reports:account_id
  - 1-* id->account_ip:accid
alternate_currency:
  - 1-1 item_id->items:id
auras:
#  - 1-1 npc_type->npc_types:id
  - 1-1 spell_id->spells_new:id
character_data:
  - 1-1 id->guilds:id
  - 1-* id->char_recipe_list:char_id
  - 1-* id->character_alt_currency:char_id
  - 1-* id->character_pet_buffs:char_id
  - 1-* id->character_pet_info:char_id
  - 1-* id->character_pet_inventory:char_id
  - 1-* id->faction_values:char_id
  - 1-* id->guild_members:char_id
  - 1-* id->keyring:char_id
  - 1-* id->player_titlesets:char_id
  - 1-* id->titles:char_id
  - 1-* id->trader:char_id
  - 1-* id->character_buffs:character_id
  - 1-* id->buyer:charid
  - 1-* id->character_activities:charid
  - 1-* id->character_enabledtasks:charid
  - 1-* id->character_tasks:charid
  - 1-* id->completed_tasks:charid
  - 1-* id->friends:charid
  - 1-* id->inventory:charid
  - 1-* id->mail:charid
  - 1-* id->quest_globals:charid
  - 1-* id->zone_flags:charID
  - 1-* id->character_alternate_abilities:id
  - 1-* id->character_auras:id
  - 1-* id->character_bandolier:id
  - 1-* id->character_bind:id
  - 1-* id->character_corpses:id
  - 1-* id->character_currency:id
  - 1-* id->character_disciplines:id
  - 1-* id->character_inspect_messages:id
  - 1-* id->character_item_recast:id
  - 1-* id->character_languages:id
  - 1-* id->character_leadership_abilities:id
  - 1-* id->character_material:id
  - 1-* id->character_memmed_spells:id
  - 1-* id->character_potionbelt:id
  - 1-* id->character_skills:id
  - 1-* id->character_spells:id
  - 1-* id->character_tribute:id
  - 1-* id->data_buckets:id
  - 1-* id->instance_list_player:id
  - 1-* id->adventure_stats:player_id
  - 1-* id->timers:char_id
doors:
  - 1-1 keyitem->items:id
fishing:
  - 1-1 Itemid->items:id
  - 1-1 zoneid->zone:zoneidnumber
  - 1-1 npc_id->npc_types:id
forage:
  - 1-1 Itemid->items:id
  - 1-1 zoneid->zone:zoneidnumber
global_loot:
  - 1-1 loottable_id->loottable:id
grid:
  - 1-* id->grid_entries:gridid
  - 1-1 zoneid->zone:zoneidnumber
ground_spawns:
  - 1-1 zoneid->zone:zoneidnumber
#  - 1-1 item->items:id
guilds:
  - 1-* id->guild_bank:guildid
  - 1-* id->guild_ranks:guild_id
  - 1-* id->guild_members:guild_id
instance_list:
  - 1-* id->instance_list_player:id
  - 1-* zone->zone:zoneidunumber
inventory:
  - 1-1 itemid->items:id
items:
  - 1-* id->alternate_currency:item_id
  - 1-* id->character_corpse_items:item_id
  - 1-* id->discovered_items:item_id
  - 1-* id->doors:keyitem
  - 1-* id->fishing:Itemid
  - 1-* id->forage:Itemid
  - 1-* id->item_tick:it_itemid
  - 1-* id->keyring:item_id
  - 1-* id->lootdrop_entries:item_id
  - 1-* id->object:itemid
  - 1-* id->object_contents:itemid
  - 1-* id->starting_items:itemid
  - 1-* id->tradeskill_recipe_entries:item_id
  - 1-* id->tribute_levels:item_id
  - 1-* id->ground_spawns:item
  - 1-* id->merchantlist:item
  - 1-* id->tasks:rewardid
lootdrop:
  - 1-* id->lootdrop_entries:lootdrop_id
  - 1-* id->loottable_entries:lootdrop_id
lootdrop_entries:
  - 1-1 item_id->items:id
  - 1-1 lootdrop_id->lootdrop:id
loottable:
  - 1-* id->loottable_entries:loottable_id
  - 1-* id->npc_types:loottable_id
loottable_entries:
  - 1-1 lootdrop_id->lootdrop:id
  - 1-1 loottable_id->loottable:id
merchantlist:
  - 1-* merchantid->npc_types:merchant_id
  - 1-* item->items:id
npc_faction:
  - 1-* id->npc_faction_entries:npc_faction_id
npc_faction_entries:
  - 1-1 faction_id->faction_list:id
npc_spells:
  - 1-* id->npc_spells_entries:npc_spells_id
  - 1-1 parent_list->npc_spells:id
npc_spells_effects:
  - 1-* id->npc_spells_effects_entries:npc_spells_effects_id
npc_spells_entries:
  - 1-1 spellid->spells_new:id
npc_types:
  - 1-1 alt_currency_id->alternate_currency:id
  - 1-* merchant_id->merchantlist:merchantid
  - 1-* npc_faction_id->npc_faction:id
  - 1-1 npc_spells_id->npc_spells:id
  - 1-* id->spawnentry:npcID
  - 1-* emoteid->npc_emotes:emoteid
  - 1-1 armortint_id->npc_types_tint:id
  - 1-1 loottable_id->loottable:id
object:
  - 1-1 zoneid->zone:zoneidnumber
  - 1-1 itemid->items:id
pets:
  - 1-1 npcID->npc_types:id
pets_equipmentset:
  - 1-* set_id->pets_equipmentset_entries:set_id
raid_details:
  - 1-* raidid->raid_leaders:rid
  - 1-* raidid->raid_members:raidid
rule_sets:
  - 1-* ruleset_id->rule_values:ruleset_id
spawnentry:
  - 1-1 spawngroupID->spawngroup:id
  - 1-1 npcID->npc_types:id
spawngroup:
  - 1-1 id->spawn2:spawngroupID
spawn2:
  - 1-1 spawngroupID->spawngroup:id
  - 1-* spawngroupID->spawnentry:spawngroupID
spells_new:
  - 1-1 id->auras:spell_id
  - 1-* id->damageshieldtypes:spellid
  - 1-* id->spell_buckets:spellid
  - 1-* id->spell_globals:spellid
  - 1-* id->blocked_spells:spellid
  - 1-* id->items:clickeffect
#  TODO: Add support for multiple of the same type
#  - 1-* id->items:proceffect
#  - 1-* id->items:worneffect
#  - 1-* id->items:scrolleffect
#  - 1-* id->items:focuseffect
#  - 1-* id->items:bardeffect
  - 1-* id->npc_spells_entries:spellid
start_zones:
  - 1-1 zone_id->zone:zoneidnumber
starting_items:
  - 1-1 zoneid->zone:zoneidnumber
  - 1-1 itemid->items:id
tradeskill_recipe_entries:
  - 1-1 recipe_id->tradeskill_recipe:id
task_activities:
  - 1-1 delivertonpc->npc_types:id
  - 1-* goalid->goallists:listid
tasks:
  - 1-* id->task_activities:taskid
  - 1-* id->tasksets:taskid
  - 1-1 reward_point_type->alternate_currency:id
