.env
vendor/
.idea
spire
data/
_data/
bin/
tmp/
quests/
.DS_Store
internal/generators/config/database-schema-reference.yml

docs-quest-api
public/
spire.exe
spire.exe~

!internal/spire

frontend/public/eq-asset-preview-master
internal/http/spa/a_spa-packr.go

spire-linux-amd64
spire-windows-amd64.exe
spire-linux-amd64.zip
spire-windows-amd64.exe.zip

*.sql
dbstr.txt
spells_us.txt

eqemu_config.json
eqemu_config.json*

*.syso

itemLookupCache.gob
recipes.json
