/* TablePlus: Modals with double X's */
.close:before {
    content: none;
}

/* Vue Form generator post layering */
.vue-form-generator .icon {
    -webkit-filter: invert(100%);
    filter:         invert(100%);
}

.content-pop {
    background-color: white;
    border-radius:    10px;
    margin-top:       30px;
    margin-bottom:    30px;
    padding-bottom:   30px;
}
