@font-face {
    font-family: 'menuetto';
    src:         url('~@/assets/fonts/Menuetto.ttf') format('truetype');
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar:horizontal {
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menuetto-header {
    text-shadow:             0px 0px 3px #000, 0px 0px 0px #000, 1px 2px 5px #000, 4px 4px 5px #000;
    font-family:             menuetto, serif;
    font-size:               100px;

    color:                   #fcc721;
    -webkit-background-clip: text;
    -moz-background-clip:    text;
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/*.bs-popover-auto>.arrow::after {*/
/*    border-right-color: transparent;*/
/*    border-bottom-color: transparent;*/
/*}*/

/*.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after {*/

.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after,
.bs-popover-auto[x-placement^=top]>.arrow::after, .top>.arrow::after,
.bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after,
.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after
{
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
}

.popover.no-bg {
    background-color: transparent !important;
    border: none;
}


/* navbar */
@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
        padding-left: 2.25rem;
    }
}
